#es-durex.es-durex {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #13294b;
  background: #ffffff;
}
#es-durex.es-durex * {
  box-sizing: border-box;
}
#es-durex.es-durex h2,
#es-durex.es-durex h3,
#es-durex.es-durex h4,
#es-durex.es-durex h5 {
  font-family: "Montserrat", sans-serif;
}
#es-durex.es-durex .es-kv1 {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../images/kv1-tlo.webp");
  background-size: cover;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
#es-durex.es-durex .es-kv1__wrapper {
  margin: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#es-durex.es-durex .es-kv1__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  animation: slideright 1s ease forwards;
}
#es-durex.es-durex .es-kv1__title--2 {
  font-weight: 700;
}
#es-durex.es-durex .es-kv1__title--3 {
  font-weight: 700;
}
#es-durex.es-durex .es-kv1__packshot {
  width: 100%;
  animation: slideleft 1s ease forwards;
}
#es-durex.es-durex .es-kv1__packshot--photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-durex.es-durex .es-kv1__logo {
  position: relative;
  padding: 20px 20px 0;
  animation: slideleft 1s ease forwards;
  z-index: 3;
}
#es-durex.es-durex .es-kv1__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100px;
}
#es-durex.es-durex .es-kv1__buttons {
  width: 100%;
  padding: 0 15px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 15px;
}
#es-durex.es-durex .es-kv1__button {
  width: 100%;
  min-width: 200px;
  max-width: 250px;
  margin: 10px auto;
  padding: 0;
  padding: 8px 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #041a71;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
#es-durex.es-durex .es-kv1__button--orange {
  background-color: #db9f53;
}
#es-durex.es-durex .es-kv1__button:hover {
  background-color: #db9f53;
  color: #fff;
}
#es-durex.es-durex .es-kv {
  position: relative;
  width: 100%;
  background-image: url("../images/kv-bg-desktop.webp");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}
#es-durex.es-durex .es-kv__title {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 15px;
}
#es-durex.es-durex .es-kv__title--1 {
  font-size: 50px;
  font-weight: 100;
}
#es-durex.es-durex .es-kv__title--2 {
  font-weight: 900;
  font-size: 30px;
}
#es-durex.es-durex .es-kv__title--3 {
  font-weight: 400;
  font-size: 20px;
}
#es-durex.es-durex .es-kv__title--4 {
  font-weight: 400;
  font-size: 20px;
}
#es-durex.es-durex .es-kv__packshot {
  position: relative;
}
#es-durex.es-durex .es-kv__packshot:hover .es-kv__img-durex {
  transform: translate(5%, -47%) rotate(30deg);
}
#es-durex.es-durex .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-durex.es-durex .es-kv__desktop {
  display: none !important;
}
#es-durex.es-durex .es-kv__mobile {
  display: block !important;
}
#es-durex.es-durex .es-kv__img-packshot {
  padding-top: 32px;
  position: relative;
  z-index: 2;
}
#es-durex.es-durex .es-kv__img-durex {
  position: absolute;
  max-width: 210px;
  top: 42%;
  left: 60%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in-out;
  transform-origin: center;
}
#es-durex.es-durex .es-feature__container {
  padding: 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
#es-durex.es-durex .es-feature__feature {
  text-align: center;
}
#es-durex.es-durex .es-feature__feature:hover .es-feature__img {
  transform: scale(1.1);
}
#es-durex.es-durex .es-feature__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 160px;
  transition: 0.3s all;
}
#es-durex.es-durex .es-feature__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
#es-durex.es-durex .es-info {
  margin: 0 auto;
  background-image: url("../images/info-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
}
#es-durex.es-durex .es-info__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 32px 15px 0;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: clamp(1.375rem, 0.2333rem + 2.4074vw, 2rem);
  text-transform: uppercase;
  padding-inline: 2rem;
}
#es-durex.es-durex .es-info__container {
  margin: 32px auto 0;
  padding: 0 15px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
#es-durex.es-durex .es-info__item {
  width: 180px;
  text-align: center;
}
#es-durex.es-durex .es-info__item:hover .es-info__img {
  transform: translateY(-10px);
}
#es-durex.es-durex .es-info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: 0.3s all;
}
#es-durex.es-durex .es-info__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
#es-durex.es-durex .es-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #041a71;
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem;
}
#es-durex.es-durex .es-tip__title {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.0417rem + 0.9259vw, 1.875rem);
  margin: 0;
  margin-top: 2rem;
}
#es-durex.es-durex .es-tip__text {
  font-size: 15px;
  padding-inline: 1rem;
  margin-block: 0.5rem;
}
#es-durex.es-durex .es-tip__arrow {
  rotate: 0deg;
  width: 32px;
  height: 32px;
  z-index: 1;
}
#es-durex.es-durex .es-tip__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translate(-50%, 0);
  width: 70%;
}
#es-durex.es-durex .es-tip__container img {
  max-width: 100%;
}
#es-durex.es-durex .es-tip__img--top {
  margin-bottom: -96px;
  transition: margin-bottom 0.5s ease;
  z-index: 1;
}
#es-durex.es-durex .es-products {
  margin: 0 auto;
  padding: 0 35px;
  position: relative;
}
#es-durex.es-durex .es-products__swiper-slide {
  margin: 0 auto !important;
  padding: 0 35px 20px;
  width: 260px;
  min-height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#es-durex.es-durex .es-products__swiper-slide:hover .es-products__img {
  transform: scale(1.1);
}
#es-durex.es-durex .es-products__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  min-height: 75px;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
  text-wrap: balance;
}
#es-durex.es-durex .es-products__price {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 10px;
}
#es-durex.es-durex .es-products__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 8px;
  font-size: 16px;
}
#es-durex.es-durex .es-products__button {
  margin: 10px auto;
  padding: 0;
  padding: 8px 35px;
  text-decoration: none;
  color: #db9f53;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  border: 1px solid #db9f53;
  transition: all 0.5s ease-out;
}
#es-durex.es-durex .es-products__button:hover {
  background-color: #db9f53;
  color: #fff;
  border: 1px solid #fff;
}
#es-durex.es-durex .es-products__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
#es-durex.es-durex .es-swiper-button-next:after {
  font-size: 25px;
  color: #A78260;
}
#es-durex.es-durex .es-swiper-button-prev:after {
  font-size: 25px;
  color: #A78260;
}
#es-durex.es-durex .es-slider {
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 680px;
}
#es-durex.es-durex .es-slider__slide {
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 680px;
}
#es-durex.es-durex .es-slider__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
#es-durex.es-durex .es-slider__container {
  width: 75%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#es-durex.es-durex .es-slider__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #fff;
  padding: 0 0 15px;
  font-size: 20px;
  font-weight: 700;
}
#es-durex.es-durex .es-slider__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 0 0 15px;
}
#es-durex.es-durex .es-slider__text--smaller {
  font-size: 12px;
}
#es-durex.es-durex .es-headline {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
#es-durex.es-durex .es-headline--blue {
  background-image: url("../images/kv1-tlo.webp");
  background-size: cover;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
#es-durex.es-durex .es-headline--pink {
  background-image: url("../images/gradient.webp");
  background-size: cover;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
#es-durex.es-durex .es-headline--gold {
  background-image: url("../images/gradient-gold.webp");
  background-size: cover;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
#es-durex.es-durex .es-headline__title {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  padding: 0 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}
#es-durex.es-durex .es-headline__button {
  padding: 10px;
  margin: 0 10%;
  width: 220px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 0;
  border: 2px solid white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#es-durex.es-durex .es-headline__button:hover {
  background-color: #041a71;
  color: #fff;
}
#es-durex.es-durex .es-video__content {
  width: 100vw;
  height: auto;
}
#es-durex.es-durex .es-video__wrapper {
  position: relative;
  width: 100%;
}
#es-durex.es-durex .es-video .iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
#es-durex.es-durex .es-poster-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-durex.es-durex #YTplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: none;
}
#es-durex.es-durex .es-faq {
  padding: 2rem;
  background: #041a71;
}
#es-durex.es-durex .es-faq__title {
  text-align: center;
  color: white;
  font-size: clamp(1.375rem, 0.8333rem + 2.4074vw, 3rem);
  text-transform: uppercase;
  font-weight: 300;
}
#es-durex.es-durex .es-faq__title--strong {
  font-weight: 700;
}
#es-durex.es-durex .es-faq__container {
  padding: 0 16px;
  position: relative;
  z-index: 2;
}
#es-durex.es-durex .es-faq__single {
  background: #b4bbd5;
  position: relative;
  margin: 16px 0;
  padding: 16px;
  border: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}
#es-durex.es-durex .es-faq__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#es-durex.es-durex .es-faq__question {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: clamp(0.8125rem, 0.75rem + 0.2778vw, 1rem);
  max-width: 83.33333%;
  text-transform: uppercase;
}
#es-durex.es-durex .es-faq__arrow {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#es-durex.es-durex .es-faq__arrow img {
  width: 24px;
  height: 24px;
}
#es-durex.es-durex .es-faq__arrow--open {
  transform: rotate(180deg);
}
#es-durex.es-durex .es-faq__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
#es-durex.es-durex .es-faq__content--open {
  margin-top: 16px;
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
#es-durex.es-durex .es-faq__text {
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 1.25;
  font-size: 14px;
  font-weight: 200;
}
#es-durex.es-durex .es-disc {
  margin: 0 auto;
  padding: 32px 5px 32px;
  width: 100%;
  background-color: #041a71;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#es-durex.es-durex .es-disc__text1 {
  width: 85%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 25px 0;
  font-size: 43px;
  font-weight: 700;
  color: white;
  text-align: center;
}
#es-durex.es-durex .es-disc__text2 {
  width: 95%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  font-weight: 300;
  color: white;
  text-align: center;
}
@media screen and (min-width: 400px) {
  #es-durex.es-durex .es-tip__text {
    font-size: clamp(1.125rem, 1.3rem + 0.5556vw, 1.4rem);
  }
}
@media screen and (min-width: 500px) {
  #es-durex.es-durex .es-kv__img-durex {
    max-width: 280px;
  }
  #es-durex.es-durex .es-headline__title {
    font-size: 35px;
  }
  #es-durex.es-durex .es-headline__button {
    font-size: 24px;
  }
  #es-durex.es-durex .es-slider {
    height: 680px;
  }
  #es-durex.es-durex .es-slider__slide {
    height: 680px;
  }
  #es-durex.es-durex .es-slider__container {
    width: 75%;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #es-durex.es-durex .es-slider__title {
    font-size: 25px;
  }
  #es-durex.es-durex .es-slider__text {
    font-size: 18px;
  }
  #es-durex.es-durex .es-slider__text--smaller {
    font-size: 14px;
  }
  #es-durex.es-durex .es-disc .es-disc__text1 {
    font-size: 65px;
  }
  #es-durex.es-durex .es-disc__text1 {
    width: 80%;
    font-size: 50px;
    transition: 0.2s all;
  }
  #es-durex.es-durex .es-disc__text2 {
    width: 80%;
    font-size: 20px;
  }
}
@media screen and (min-width: 640px) {
  #es-durex.es-durex .es-kv1__wrapper {
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  #es-durex.es-durex .es-kv1__title {
    width: 100%;
    text-align: left;
    font-size: 30px;
  }
  #es-durex.es-durex .es-kv1__title--2 {
    margin-left: 35px;
  }
  #es-durex.es-durex .es-kv1__title--3 {
    margin-left: 165px;
  }
  #es-durex.es-durex .es-kv1__packshot {
    width: 100%;
  }
  #es-durex.es-durex .es-kv1__logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  #es-durex.es-durex .es-products__swiper-slide:hover {
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
  }
  #es-durex.es-durex .es-disc .es-disc__text1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 768px) {
  #es-durex.es-durex .es-kv {
    background-image: none;
  }
  #es-durex.es-durex .es-kv__title {
    position: absolute;
    right: 46px;
    top: 40px;
  }
  #es-durex.es-durex .es-kv__title--1 {
    font-size: 50px;
    font-weight: 100;
  }
  #es-durex.es-durex .es-kv__title--2 {
    font-weight: 900;
    font-size: 38px;
    margin-left: 70px;
  }
  #es-durex.es-durex .es-kv__title--3 {
    font-weight: 400;
    font-size: 20px;
    margin-left: 70px;
  }
  #es-durex.es-durex .es-kv__title--4 {
    font-weight: 400;
    font-size: 20px;
    margin-left: 70px;
  }
  #es-durex.es-durex .es-kv__packshot {
    position: absolute;
    left: 38%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #es-durex.es-durex .es-kv__desktop {
    display: block !important;
    width: 100%;
  }
  #es-durex.es-durex .es-kv__mobile {
    display: none !important;
  }
  #es-durex.es-durex .es-feature__container {
    background-image: none;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 1%;
  }
  #es-durex.es-durex .es-slider {
    height: 388px;
  }
  #es-durex.es-durex .es-slider__slide {
    height: 388px;
  }
  #es-durex.es-durex .es-slider__container {
    width: 45%;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  #es-durex.es-durex .es-slider__title {
    font-size: 25px;
  }
  #es-durex.es-durex .es-slider__text {
    font-size: 18px;
  }
  #es-durex.es-durex .es-slider__text--smaller {
    font-size: 14px;
  }
  #es-durex.es-durex .es-tip__title {
    margin-top: 3rem;
  }
  #es-durex.es-durex .es-tip__container {
    bottom: -2%;
  }
  #es-durex.es-durex .es-faq__title {
    font-size: 48px;
  }
  #es-durex.es-durex .es-faq__single {
    padding: 24px 16px 24px 24px;
  }
  #es-durex.es-durex .es-disc .es-disc__text1 {
    font-size: 75px;
  }
}
@media screen and (min-width: 900px) {
  #es-durex.es-durex .es-kv1__buttons {
    flex-wrap: nowrap;
  }
  #es-durex.es-durex .es-kv__title {
    right: 54px;
    top: 65px;
  }
  #es-durex.es-durex .es-kv__title--1 {
    font-size: 55px;
    font-weight: 100;
  }
  #es-durex.es-durex .es-kv__title--2 {
    font-weight: 900;
    font-size: 34px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-kv__title--3 {
    font-weight: 400;
    font-size: 27px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-kv__title--4 {
    font-weight: 400;
    font-size: 27px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-feature__container {
    bottom: 5%;
  }
  #es-durex.es-durex .es-headline {
    justify-content: space-between;
    padding: 20px 20px 20px 8%;
  }
  #es-durex.es-durex .es-headline__title {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
  }
  #es-durex.es-durex .es-headline__button {
    margin: 0 8% 0 0;
  }
  #es-durex.es-durex .es-slider__container {
    width: 55%;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  #es-durex.es-durex .es-slider__title {
    font-size: 25px;
  }
  #es-durex.es-durex .es-slider__text {
    font-size: 18px;
  }
  #es-durex.es-durex .es-slider__text--smaller {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  #es-durex.es-durex .es-kv1__wrapper {
    margin: 0;
    padding: 20px;
    width: 85%;
    flex-wrap: nowrap;
  }
  #es-durex.es-durex .es-kv1__title {
    width: 50%;
    text-align: left;
    font-size: 30px;
  }
  #es-durex.es-durex .es-kv1__title--2 {
    margin-left: 35px;
  }
  #es-durex.es-durex .es-kv1__title--3 {
    margin-left: 165px;
  }
  #es-durex.es-durex .es-kv1__packshot {
    width: 50%;
  }
  #es-durex.es-durex .es-kv1__logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  #es-durex.es-durex .es-kv1__buttons {
    flex-wrap: nowrap;
  }
  #es-durex.es-durex .es-kv__title {
    right: 54px;
    top: 65px;
  }
  #es-durex.es-durex .es-kv__title--1 {
    font-size: 70px;
    font-weight: 100;
  }
  #es-durex.es-durex .es-kv__title--2 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-kv__title--3 {
    font-weight: 400;
    font-size: 35px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-kv__title--4 {
    font-weight: 400;
    font-size: 35px;
    margin-left: 120px;
  }
  #es-durex.es-durex .es-feature__container {
    bottom: 8%;
  }
  #es-durex.es-durex .es-products {
    padding: 0 15px;
  }
  #es-durex.es-durex .es-products__swiper-slide {
    padding: 0 15px 20px;
  }
  #es-durex.es-durex .es-slider__container {
    width: 60%;
    top: 65%;
    left: 68%;
    transform: translate(-50%, -50%);
  }
  #es-durex.es-durex .es-slider__title {
    font-size: 25px;
  }
  #es-durex.es-durex .es-slider__text {
    font-size: 18px;
  }
  #es-durex.es-durex .es-slider__text--smaller {
    font-size: 14px;
  }
  #es-durex.es-durex .es-disc .es-disc__text1 {
    font-size: 80px;
  }
}
@media screen and (min-width: 1200px) {
  #es-durex.es-durex .es-kv1__wrapper {
    margin: 0;
    padding: 20px;
    width: 85%;
    flex-wrap: nowrap;
  }
  #es-durex.es-durex .es-kv1__title {
    width: 50%;
    text-align: left;
    font-size: 30px;
  }
  #es-durex.es-durex .es-kv1__title--2 {
    margin-left: 35px;
  }
  #es-durex.es-durex .es-kv1__title--3 {
    margin-left: 165px;
  }
  #es-durex.es-durex .es-kv1__packshot {
    width: 50%;
  }
  #es-durex.es-durex .es-kv1__logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  #es-durex.es-durex .es-kv1__buttons {
    flex-wrap: nowrap;
  }
  #es-durex.es-durex .es-kv__title {
    right: 92px;
    top: 133px;
  }
  #es-durex.es-durex .es-kv__packshot {
    left: 39%;
    top: 54%;
  }
  #es-durex.es-durex .es-kv__img-packshot {
    width: 550px;
  }
  #es-durex.es-durex .es-kv__img-durex {
    max-width: 340px;
  }
  #es-durex.es-durex .es-disc .es-disc__text1 {
    font-size: 95px;
  }
}

/*********************************************************************/
/***************************** animations ***************************/
/*********************************************************************/
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-10%, -50%) rotate(30deg);
  }
}
@keyframes point {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes point-horizontal {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
